@model Deadline9.Models.LectureCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lecture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LessionId" class="control-label"></label>
                @Html.DropDownListFor(model => model.LessionId, ViewBag.Lessions as SelectList);
            </div>
            <div class="form-group">
                <label asp-for="TeacherId" class="control-label"></label>
                @Html.DropDownListFor(model => model.TeacherId, ViewBag.Teachers as SelectList);
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                @Html.DropDownListFor(model => model.GroupId, ViewBag.Groups as SelectList);
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
